[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "binovisualfields"]
	path = binovisualfields
	url = https://github.com/cran/binovisualfields
